* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none !important;
  font-family: "Nanum Gothic Coding", monospace !important;
  font-weight: 400 !important;
  color: #000000;
}

body {
  margin: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nome {
  background: #cccccc;
  padding: 10px 20px;
}

.nome h1 {
  font-size: 1.5rem !important;
}

.nome h1,
.nav a {
  font-weight: 700;
  color: #000000;
}

.nav {
  display: flex;
  gap: 40px;
  font-size: 1.5rem;
}

#perfil,
#cards,
#carrossel,
#colegas {
  margin-bottom: 20px;
}

.sessao-titulo {
  border-bottom: solid 2px #000000 !important;
  padding-bottom: 5px !important;
}

.sessao-titulo h2 {
  font-weight: 700 !important;
}

.foto-perfil img {
  width: 200px;
  padding: 2px;
  border: solid 1px;
  border-radius: 5px;
  border-color: cadetblue;
}

.sessao {
  display: flex;
  padding-top: 30px;
  gap: 30px;
}

.sessao-direita {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bold {
  font-weight: 700 !important;
}

.conteudo-superior {
  margin-bottom: 10px;
}

.conteudo-superior h3 {
  color: blue;
  margin-bottom: 10px;
  font-weight: 700;
}

.conteudo-inferior {
  display: flex;
  justify-content: space-between;
}

.conteudo-info p {
  margin-bottom: 5px;
}

.bold {
  font-weight: 700;
}

.conteudo-social {
  width: 25px;
  margin-top: auto;
}

.conteudo-icone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.conteudo-icone img {
  width: 25px;
}

.container {
  margin-top: 20px;
}

.card-link img {
  width: 25px;
}

#carouselExampleCaptions {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: lightblue;
}

.carousel-item p {
  color: white;
}

.colegas-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.colegas-row img {
  width: 80px;
  padding: 2px;
  border: solid 1px;
  border-radius: 5px;
  border-color: cadetblue;
}

.colegas-row p {
  color: blue;
  text-align: center;
}

.footer {
  background-color: cadetblue;
  text-align: center;
}

.footer p {
  padding: 20px;
}

/* repos */
.repo-container {
  margin-top: 20px;
}

.repo-container h3 {
  color: blue;
}

.repo-descricao {
  margin-left: 30px;
}

.dados-icon {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.desenhos {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-right: 50px;
}

.desenhos img {
  width: 25px;
}

.data a {
  color: #000000;
}

.tags {
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
  gap: 10px;
}

.tags p {
  padding: 3px 7px;
  color: white;
  background-color: blue;
  border-radius: 20px;
}

@media screen and (max-width: 828px) {
  .header,
  .nav {
    flex-direction: column;
  }

  .nav {
    margin-top: 20px;
    align-items: center;
  }

  .container-repo {
    margin-right: 20px;
  }
}
